<div class="admin-section-title">
  <h2>Perfil</h2>
  <p>¡ Tu información personal y recetas favoritas !.</p>
</div>

<p><strong>Nombre completo:</strong> <%= current_user.name%></p>
<p><strong>Peso:</strong> <%= current_user.weight %></p>
<p><strong>Altura:</strong> <%= current_user.height %></p>
<p><strong>¿Actividad física?:</strong> <%= current_user.format_to_physical_activity %></p>
<p><strong>Otras actividades físicas:</strong> <%= current_user.physical_activity_description %></p>
<p><strong>Otras enfermedades:</strong> <%= current_user.other_diseases %></p>
<p><strong>Otros gustos:</strong> <%= current_user.other_pleasures %></p>
