<div class="col-sm-12">
  <div class="block-flat">
    <div class="header">
      <h3>Información general</h3>
    </div>
    <div class="content overflow-hidden mb20">
      <p>
        <strong>Nombre:</strong>
        <%= @user.name %>
      </p>
      
      <p>
        <strong>Peso:</strong>
        <%= @user.weight %>
      </p>

      <p>
        <strong>Altura:</strong>
        <%= @user.height %>
      </p>

      <p>
        <strong>Actividad Física:</strong>
        <%= @user.format_to_physical_activity %>
      </p>

      <p>
        <strong>Actividades que realiza:</strong>
        <%= @user.physical_activity_description %>
      </p>

      <p>
        <strong>Enfermedades:</strong>
        <%= @user.other_diseases %>
      </p>

      <p>
        <strong>Gustos:</strong>
        <%= @user.other_pleasures %>
      </p>
    </div>

    <div class="header">
      <h3>Recetas favotitas</h3>

      <% @user.recipes.each do |recipe| %>
        <%= link_to admins_recipe_path(recipe), class: "list-group-item mt20" do %>
          <p>Nombre: <%= recipe.name %></p>
        <% end %>
      <% end %>
    </div>

    <div class="header">
      <h3>Recomendaciones</h3>
      <% @user.recommendations.each do |recommendation| %>
        <a href="#" class="list-group-item mt20">
          <p><%= recommendation.content %></p>
        </a>
      <% end %>
      <div class="row">
        <%= form_with url: admins_recommendations_path, local: true do |form| %>
          <div class="col-sm-12">
            <h4>Nueva recomendación</h4>
            <div class="form-group">
              <%= form.hidden_field :user_id, value: @user.id %>
              <%= form.label :content, 'Descripción' %>
              <br>
              <%= form.text_area :content %>
            </div>
          </div>
          <div class="col-sm-12">
            <%= form.submit 'Agregar Recomendación' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
