<div class="login-container-wrapper"> 
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="login-box-wrapper">

              <div class="modal-header">
                <h4 class="modal-title text-center">¡ Create tu cuenta gratis !</h4>
              </div>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="modal-body">
                  <div class="row gap-20">
                    <div class="col-sm-12 col-md-12">
                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, class: "form-control" %>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12">
                      <div class="form-group"> 
                        <%= f.label :password, 'Contraseña' %>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12">
                      <div class="form-group"> 
                        <%= f.label :password_confirmation, 'Confirmar contraseña' %>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12">
                      <div class="login-box-box-action">
                        ¿Ya tienes cuenta? <%= link_to 'Entrar', new_user_session_path %>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal-footer text-center">
                  <%= f.submit "Registrarse", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
